<ion-header>
  <ion-navbar>
    <ion-title>
      <span (click)="setting()">
        <img id="avatar" style="vertical-align: middle; border-radius: 100%;" width="32px" height="32px">
        <span *ngIf="currentUser">{{ currentUser['displayName'] || ''}}</span>
      </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item (click)="goArchive()">
      <ion-icon name="archive" item-start></ion-icon>
      수신함
      <ion-note item-end>{{ (archived | async)?.length }}</ion-note>
    </button>
    <button ion-item (click)="goWeekly()">
      <ion-icon name="calendar" item-start></ion-icon>
      주
      <ion-note item-end>{{ (weekly | async)?.length }}</ion-note>
    </button>
    <button ion-item (click)="goAll()">
      <ion-icon name="done-all" item-start></ion-icon>
      모두
    </button>
    <button ion-item *ngFor="let item of list | async" (click)="listSelected(item)">
      <ion-icon name="list" item-start></ion-icon>
      {{ item.title }}
    </button>
    <button ion-item color="light" (click)="newList()">
      <ion-icon name="add" item-start></ion-icon>
      목록 작성
    </button>
  </ion-list>
  <ion-fab right bottom (click)="newTodo() ">
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>